<div class="px-2 py-1">
  <a routerLink="/" class="cursor-pointer">
    <div
      class="flex items-center gap-1.5"
      (mouseover)="changeMouseOnLogo(true)"
      (mouseout)="changeMouseOnLogo(false)"
    >
      <img class="h-7 w-7" alt="logo image" src="assets/logo/logo-64.png" />
      <h1
        class="text-nav hidden font-black tracking-wider transition duration-200 ease-in-out sm:block"
        [ngClass]="{ 'text-gray-200': isOnNavbarHover && isMouseOnLogo }"
      >
        Titer
      </h1>
    </div>
  </a>
</div>
