<div
  class="relative aspect-[2/3] w-36 shrink-0 overflow-hidden rounded-lg border-2 border-white shadow-md sm:w-44"
>
  <div>
    <img
      src="https://m.media-amazon.com/images/I/81kz06oSUeL._AC_SL1500_.jpg"
    />

    <ul
      class="absolute top-[30px] left-[15%] z-0 block w-[70%] bg-black py-[50px] opacity-75"
    >
      <li class="relative block text-center font-bold text-white">
        <i class="fa-solid fa-eye"></i>
        <strong>{{ watched }}</strong>
      </li>
      <li class="relative block text-center font-bold text-white">
        <i class="fa-solid fa-heart"></i>
        <strong>{{ reviews }}</strong>
      </li>
    </ul>

    <a href="#">
      <span
        class="absolute top-0 right-0 bottom-0 left-0 block overflow-hidden border-2 border-red-600"
      ></span>
    </a>
  </div>
</div>
