<div class="flex h-full w-full flex-col">
  <app-navbar
    class="absolute z-11 w-full"
    (menuOpenEvent)="menuOpenEventReceiver($event)"
    [isMenuOpen]="isMenuOpen"
  ></app-navbar>

  <div class="relative mt-[58px] flex-1 overflow-hidden sm:mt-[64px]">
    <div
      [ngClass]="{
        'z-10 opacity-50': isMenuOpen,
        '-z-10 opacity-0': !isMenuOpen,
      }"
      class="absolute inset-0 bg-black backdrop-blur-md transition-all duration-200 ease-in-out"
      (click)="toggleMenu()"
    ></div>
    <router-outlet class="relative z-0"></router-outlet>
  </div>
</div>
