<div class="relative flex min-h-screen flex-col">
  <app-navbar class="sticky top-0 z-60 w-full"></app-navbar>

  <div
    [ngClass]="{
      'z-50 opacity-100': isMenuOpenService.currentValue,
      '-z-50 opacity-0': !isMenuOpenService.currentValue,
    }"
    class="ui-overlay absolute inset-0 h-full transition-all duration-200 ease-in-out"
    (click)="toggleMenu()"
  ></div>

  <main class="flex-1">
    <router-outlet></router-outlet>
  </main>

  <app-footer *ngIf="!isMenuOpenService.currentValue"></app-footer>
</div>
