<div class="inline-flex gap-2">
  <app-search-input-with-field
    [options]="actorOptions"
    searchPlaceholder="Search actors"
    [allowAddNew]="true"
    addPlaceholder="Add new actor"
    label="Actor name:"
    (selectionChange)="onCastSelect($event)"
    (fieldChange)="onFieldChange($event)"
  ></app-search-input-with-field>

  <div *ngIf="actorName.length > 0" class="inline-flex items-center gap-2">
    <label class="ui-label !mb-0 text-nowrap">As:</label>
    <input [formControl]="characterControl" type="text" placeholder="Romeo" class="ui-input" />
  </div>
</div>
