<section class="mt-15 flex items-center justify-center gap-5 p-5 sm:mt-5">
  <div
    class="grid max-w-208 grid-cols-1 items-start gap-4 sm:grid-cols-[auto_1fr]"
  >
    <!-- image & stats -->
    <app-play-poster
      [url]="play.posterImageUrl"
      [rating]="play.rating"
      [watchCount]="play.watchCount"
      [reviewCount]="play.reviewCount"
    >
    </app-play-poster>

    <!-- title -->
    <app-play-title
      [title]="play.title"
      [director]="play.director"
      [year]="play.releaseYear"
      [synopsis]="play.synopsis"
    >
    </app-play-title>
    <!-- end title -->

    <div class="rounded-full border-1 border-gray-600 sm:col-span-2"></div>

    <app-tab-content
      class="sm:col-span-2"
      [premiereDate]="play.premiereDate"
      [premiereTheatre]="play.premiereTheatre"
      [duration]="play.duration"
      [releases]="play.releases"
      [cast]="play.cast"
      [crew]="play.crew"
      [director]="play.director"
      [mainActors]="play.mainActors"
      [genres]="play.genres"
      [socials]="play.socials"
      [releases]="play.releases"
    ></app-tab-content>

    <div class="rounded-full border-1 border-gray-600 sm:col-span-2"></div>

    <!-- comment section -->
    <app-comment-section
      class="sm:col-span-2"
      [comments]="play.comments"
    ></app-comment-section>
    <!-- end comment section -->
  </div>
</section>
