<section class="flex items-center justify-center gap-5 p-5">
  <div class="grid max-w-208 grid-cols-[auto_1fr] items-start gap-4">
    <!-- left: image & stats -->
    <div class="flex flex-col overflow-hidden">
      <img class="w-60 rounded-xl shadow-sm select-none" [src]="url" alt="" />
      <div class="mt-2 inline-flex gap-4 self-center">
        <span title="Rating"
          ><i class="fa-solid fa-star text-amber-400"></i> {{ rating }}</span
        >
        <span title="Watched by {{ watchCount }} users"
          ><i class="fa-solid fa-eye text-red-700"></i> {{ watchCount }}</span
        >
        <span title="Reviewed by {{ reviewCount }} users"
          ><i class="fa-solid fa-pencil text-orange-500"></i>
          {{ reviewCount }}</span
        >
      </div>
    </div>

    <!-- right: info -->
    <div class="flex h-full max-w-xl flex-col gap-4 px-2 py-7">
      <div>
        <h2 class="text-4xl font-bold tracking-wide text-gray-50 capitalize">
          {{ title }}
        </h2>
        <h3 class="mt-1 text-lg text-gray-400">
          by
          <span
            class="cursor-pointer font-bold tracking-wide text-gray-50 transition-colors hover:text-emerald-500"
          >
            <a [routerLink]="">{{ director }}</a>
          </span>
          -
          <span
            class="cursor-pointer font-bold tracking-wide text-gray-50 transition-colors hover:text-emerald-500"
            ><a [routerLink]="">{{ year }}</a></span
          >
        </h3>
      </div>

      <p class="text-justify leading-relaxed text-gray-200">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt quae
        ad omnis qui iusto sapiente, vel fugiat id magni, dolore est corrupti
        neque eveniet! Minima modi eligendi natus explicabo sapiente.
      </p>

      <div class="flex gap-3">
        <span>&lt; SOCIAL [WIP] &gt;</span>
      </div>
    </div>

    <!-- separator -->
    <div class="col-span-2 rounded-full border-1 border-gray-600"></div>

    <!-- play info -->
    <div class="col-span-2">
      <!-- header -->
      <header class="flex">
        @for (tab of tabs; track $index) {
          <button
            (click)="selectTab(tab)"
            class="cursor-pointer border-b-2 px-4 py-2 text-sm font-semibold uppercase transition-colors duration-300"
            [ngClass]="{
              'border-emerald-500 text-emerald-600': activeTab === tab,
              'border-transparent text-gray-600 hover:text-emerald-500':
                activeTab != tab,
            }"
          >
            {{ tab }}
          </button>
        }
      </header>

      <!-- tabs content -->
      <div class="min-h-[200px] space-y-4 border-gray-200 px-6 py-3">
        <div
          class="flex w-full flex-col gap-y-1"
          [class.hidden]="activeTab !== 'MAIN INFO'"
        >
          <!-- directors -->
          <div class="flex w-full">
            <!-- label -->
            <div class="flex w-1/2 items-baseline gap-2 pr-4">
              <h4 class="font-bold">Directors</h4>
              <div class="flex-1 border-b-2 border-dotted"></div>
            </div>

            <!-- links section -->
            <div class="flex w-1/2 flex-wrap gap-x-2 gap-y-1">
              @for (director of directors; track $index) {
                <a
                  class="cursor-pointer underline underline-offset-2 transition-colors hover:text-emerald-500"
                  routerLink="/director/{{ director.id }}"
                  >{{ director.name }}</a
                >
              }
            </div>
          </div>

          <!-- main actors -->
          <div class="flex w-full">
            <!-- label -->
            <div class="flex w-1/2 items-baseline gap-2 pr-4">
              <h4 class="font-bold">Main actors</h4>
              <div class="flex-1 border-b-2 border-dotted"></div>
            </div>

            <!-- links section -->
            <div class="flex w-1/2 flex-wrap gap-x-2 gap-y-1">
              @for (actor of mainActors; track $index) {
                <a
                  class="cursor-pointer underline underline-offset-2 transition-colors hover:text-emerald-500"
                  routerLink="/actor/{{ actor.id }}"
                  >{{ actor.name }}</a
                >
              }
            </div>
          </div>

          <!-- genres -->
          <div class="flex w-full">
            <!-- label -->
            <div class="flex w-1/2 items-baseline gap-2 pr-4">
              <h4 class="font-bold">Genres</h4>
              <div class="flex-1 border-b-2 border-dotted"></div>
            </div>

            <!-- links section -->
            <div class="flex w-1/2 flex-wrap gap-x-2 gap-y-1">
              @for (genre of genres; track $index) {
                <a
                  class="cursor-pointer underline underline-offset-2 transition-colors hover:text-emerald-500"
                  routerLink="/genre/{{ genre.id }}"
                  >{{ genre.name }}</a
                >
              }
            </div>
          </div>

          <!-- duration -->
          <div class="flex w-full">
            <!-- label -->
            <div class="flex w-1/2 items-baseline gap-2 pr-4">
              <h4 class="font-bold">Duration</h4>
              <div class="flex-1 border-b-2 border-dotted"></div>
            </div>

            <!-- info section -->
            <div class="flex w-1/2 flex-wrap gap-x-2 gap-y-1">
              <p>{{ duration }}min</p>
            </div>
          </div>

          <!-- first premiere -->
          <div class="flex w-full">
            <!-- label -->
            <div class="flex w-1/2 items-baseline gap-2 pr-4">
              <h4 class="font-bold">First Premiere</h4>
              <div class="flex-1 border-b-2 border-dotted"></div>
            </div>

            <!-- info section -->
            <div class="flex w-1/2 flex-wrap gap-x-2 gap-y-1">
              <p>
                <strong class="font-semibold">{{ premiereDate }}</strong> at
                <a
                  routerLink="/theatre/{{ premiereTheatre.id }}"
                  class="cursor-pointer font-semibold transition-colors hover:text-emerald-500"
                  >{{ premiereTheatre.name }}</a
                >
              </p>
            </div>
          </div>

          <!-- social -->
          <div class="flex w-full">
            <!-- label -->
            <div class="flex w-1/2 items-baseline gap-2 pr-4">
              <h4 class="font-bold">Socials</h4>
              <div class="flex-1 border-b-2 border-dotted"></div>
            </div>

            <!-- links section -->
            <div class="flex w-1/2 flex-wrap gap-x-2 gap-y-1">
              @for (social of socials; track $index) {
                <img [src]="social.socialIcon" [alt]="social.social" />
                <a
                  class="cursor-pointer underline underline-offset-2 transition-colors hover:text-emerald-500"
                  [href]="social.url"
                  target="_blank"
                  >&#64;{{ social.name }}</a
                >
              }
            </div>
          </div>
        </div>

        <div [class.hidden]="activeTab !== 'CAST'">
          <div class="flex w-full flex-col gap-1">
            <!-- links section -->
            @for (actor of cast; track $index) {
              <div class="flex w-full">
                <!-- label -->
                <div class="flex w-1/2 items-baseline gap-2 pr-4">
                  <span class="font-bold">{{ actor.character }}</span>
                  <div class="flex-1 border-b-2 border-dotted"></div>
                </div>
                <div class="w-1/2">
                  <a
                    class="cursor-pointer underline underline-offset-2 transition-colors hover:text-emerald-500"
                    routerLink="/actor/{{ actor.id }}"
                    >{{ actor.name }}</a
                  >
                </div>
              </div>
            }
          </div>
        </div>

        <div [class.hidden]="activeTab !== 'CREW'">
          <div class="flex w-full flex-col gap-1">
            <!-- links section -->
            @for (worker of crew; track $index) {
              <div class="flex w-full">
                <!-- label -->
                <div class="flex w-1/2 items-baseline gap-2 pr-4">
                  <span class="font-bold">{{ worker.role }}</span>
                  <div class="flex-1 border-b-2 border-dotted"></div>
                </div>
                <div class="w-1/2">
                  <a
                    class="cursor-pointer underline underline-offset-2 transition-colors hover:text-emerald-500"
                    routerLink="/worker/{{ worker.id }}"
                    >{{ worker.name }}</a
                  >
                </div>
              </div>
            }
          </div>
        </div>

        <div [class.hidden]="activeTab !== 'RELEASES'">
          @for (release of sortedReleases; track $index) {
            <div class="mb-2 flex w-full border-t-2 py-1">
              <div class="flex w-full">
                <span class="w-1/5 font-semibold">{{ release.date }}</span>
                <div class="inline-flex flex-wrap gap-1">
                  @for (theatre of release.names; track $index) {
                    <span class="px-1">{{ theatre }}</span>
                  }
                </div>
              </div>
            </div>
          }
        </div>
      </div>
    </div>

    <!-- separator -->
    <div class="col-span-2 rounded-full border-1 border-gray-600"></div>

    <!-- comment section -->
    <div class="col-span-2">
      <div
        *ngFor="let comment of comments"
        class="flex gap-4 border-t-1 border-b-1 border-gray-600 p-4"
      >
        <img
          [src]="comment.profilePhotoUrl"
          alt="{{ comment.author }}'s profile"
          class="h-8 w-8 rounded-full object-cover"
        />
        <div class="flex flex-1 flex-col justify-between gap-2">
          <div class="flex items-center justify-between">
            <div>
              <span class="font-semibold">{{ comment.author }}</span>
              <span class="ml-2 text-sm text-gray-300">
                {{ comment.date | date: "dd/MM/yyyy HH:mm" }}
              </span>
            </div>
          </div>
          <p class="">
            {{ comment.content }}
          </p>
          <button
            (click)="toggleLike(comment)"
            class="flex items-center gap-1 text-sm text-gray-600 transition hover:text-blue-500"
            [ngClass]="{
              'text-blue-500': comment.likedByUser,
              'text-gray-600': !comment.likedByUser,
            }"
          >
            <i class="fa-solid fa-heart"></i>
            <span>{{ comment.likes }}</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
