<div class="flex items-center px-3">
  <h2 class="font-extrabold tracking-wider text-gray-200 uppercase">
    Features
  </h2>
</div>
<div class="flex w-full items-center justify-center py-5">
  <div class="flex w-full flex-col flex-wrap gap-2 sm:flex-row sm:gap-3">
    @for (card of cards; track $index) {
      <app-card
        [icon]="card.icon"
        [description]="card.description"
        [hoverColor]="card.hoverColor"
        class="flex-1 sm:basis-1/4"
      ></app-card>
    }
  </div>
</div>
