<header class="w-full">
  <div class="bg-gray-950 shadow-2xl shadow-black">
    <nav class="sm:flex sm:items-center sm:justify-between sm:px-4 sm:py-3">
      <div class="flex items-center justify-between px-4 py-3 sm:p-0">
        <a routerLink="/" (click)="closeMenu()">
          <div
            class="text-nav flex h-full cursor-pointer items-center gap-1.5 rounded px-2 py-1"
          >
            <img class="h-7" src="assets/logo/logo-64.png" />
            <h1 class="hidden font-black tracking-wider sm:block">Títer</h1>
          </div>
        </a>

        <div class="sm:hidden">
          <button
            (click)="toggleMenu()"
            type="button"
            class="text-gray-200 hover:text-white focus:text-white focus:outline-none"
          >
            <svg class="h-7 w-7 fill-current" viewBox="0 0 24 24">
              <path
                *ngIf="isMenuOpen"
                fill-rule="evenodd"
                d="M18.278 16.864a1 1 0 0 1-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 0 1-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0 0 1 1.414-1.414l4.829 4.828 4.828-4.828a1 1 0 1 1 1.414 1.414l-4.828 4.829 4.828 4.828z"
              />
              <path
                *ngIf="!isMenuOpen"
                fill-rule="evenodd"
                d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"
              />
            </svg>
          </button>
        </div>
      </div>

      <div
        [ngClass]="{
          'max-h-[500px] pt-2 pb-4 opacity-600': isMenuOpen,
          'max-h-0 opacity-0': !isMenuOpen,
        }"
        class="px-2 transition-all duration-200 ease-in-out sm:flex sm:items-center sm:p-0 sm:opacity-100"
      >
        @for (item of navItems; track $index) {
          <app-nav-item
            [item]="item"
            (itemClick)="(item.clickHandler)"
          ></app-nav-item>
        }

        <div class="mt-2 px-2 py-1 sm:mt-0 sm:ml-2">
          <div
            class="flex w-full items-center justify-between rounded px-2 py-1 transition duration-300 ease-in-out hover:bg-gray-200"
            ngClass="{{ isSearching ? 'bg-gray-200' : 'bg-gray-700' }}"
          >
            <span class="mr-2 h-4 fill-current text-gray-500">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
                ></path>
              </svg>
            </span>

            <input
              (focusout)="isSearching = false"
              (focus)="isSearching = true"
              class="w-full font-semibold text-gray-800 focus:outline-none"
              type="text"
            />
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
