<div class="w-full px-5">
  <article class="flex h-full w-full items-center justify-between gap-7">
    <!-- cover -->
    <figure
      class="mt-2 w-24 min-w-24 cursor-pointer self-start overflow-hidden rounded shadow-lg outline-offset-2 outline-emerald-500 duration-100 ease-in-out select-none hover:outline-2"
    >
      <a [routerLink]="">
        <img
          class="object-cover"
          [src]="playData.posterImageUrl"
          [alt]="playData.title + ' poster'"
        />
      </a>
    </figure>

    <div class="flex h-full flex-col gap-4">
      <!-- title -->
      <header class="inline-flex items-end">
        <h3 class="font-medium text-wrap sm:text-2xl">
          <a
            [routerLink]=""
            class="cursor-pointer transition-colors hover:text-emerald-500"
          >
            {{ playData.title }}
          </a>
        </h3>
        <time
          class="cursor-pointer font-extralight text-gray-300 transition-colors hover:text-emerald-500 sm:text-xl"
        >
          <a [routerLink]="">{{ playData.premiereDate | date: "yyyy" }}</a>
        </time>
      </header>

      <!-- user -->
      <section class="inline-flex items-center gap-2">
        <a
          class="inline-flex cursor-pointer items-center gap-2 transition-colors hover:text-emerald-500"
          [routerLink]=""
        >
          <img
            class="w-6 rounded-full sm:w-7"
            [src]="reviewData.author.profilePhotoUrl"
            [alt]="reviewData.author.username + ' avatar'"
            loading="lazy"
          />
          <h4 class="font-semibold tracking-wider">
            {{ reviewData.author.username }}
          </h4>
        </a>
        <div class="text-amber-400" role="img">
          <span *ngFor="let star of fullStars">★</span>
          <span *ngIf="hasHalfStar">½</span>
        </div>
      </section>

      <!-- review -->
      <section>
        <p
          class="line-clamp-3 text-justify text-xs font-extralight tracking-wide text-gray-200 sm:text-sm"
        >
          {{ reviewData.content }}
        </p>
      </section>

      <!-- likes etc -->
      <footer class="-mt-2 inline-flex gap-4">
        <div class="inline-flex items-center gap-2">
          <i class="fa-solid fa-heart fa-sm pb-0.5 text-red-500"></i>
          <span class="text-sm text-gray-400">
            {{ reviewData.likes | number }}
            <span class="font-light">likes</span>
          </span>
        </div>
        <!-- <div class="inline-flex items-center gap-2">
          <i class="fa-solid fa-comment fa-sm pb-0.5 text-blue-500"></i>
          <span class="text-sm text-gray-400">
            {{ reviewData.numComments | number }}
            <span class="font-light">comments</span>
          </span>
        </div> -->
      </footer>
    </div>
  </article>
</div>
