<div *ngIf="isOpen" class="fixed inset-0 z-100 flex w-full items-center justify-center px-3">
  <div class="ui-overlay fixed inset-0"></div>

  <div class="ui-card z-110 w-full max-w-xl p-5 sm:min-w-lg">
    <div class="mb-2 flex items-center justify-between">
      <h4 class="ui-heading-lg">{{ modalTitle }}</h4>
      <button (click)="onClose()" class="ui-btn ui-btn-secondary !px-3 !py-1" aria-label="Close modal">&times;</button>
    </div>

    <div class="mb-5">
      <ng-content select="[modal-content]"></ng-content>
    </div>

    <ng-content select="[modal-actions]"></ng-content>
  </div>
</div>
