<div class="flex w-full flex-col gap-1">
  @for (actor of cast; track actor.actorId + '-' + actor.character) {
    <div class="flex w-full">
      <div class="flex w-4/6 items-baseline gap-2 pr-4 sm:w-1/2">
        <span class="font-bold">{{ actor.character }}</span>
        <div class="flex-1 border-b border-dotted border-[var(--ui-border)]"></div>
      </div>
      <div class="sm:w-1/2">
        <a class="ui-link" [routerLink]="['/actor', actor.actorId]">{{ actor.actorName }}</a>
      </div>
    </div>
  }
</div>
