<div class="mb-4 flex items-center justify-center gap-2 p-2">
  <button
    class="cursor-pointer rounded-md bg-emerald-500 px-2 py-1 font-semibold transition-colors hover:bg-white hover:text-emerald-500"
    (click)="isSignInOpen = true"
  >
    Sign In
  </button>
  <p>or</p>
  <button
    class="cursor-pointer rounded-md bg-emerald-500 px-2 py-1 font-semibold transition-colors hover:bg-white hover:text-emerald-500"
    (click)="isCreateAccountOpen = true"
  >
    Create Account
  </button>
  <p>to review!</p>
</div>

<app-sign-in
  [isSignInOpen]="isSignInOpen"
  (onClose)="isSignInOpen = false"
></app-sign-in>

<app-create-account
  [isCreateAccountOpen]="isCreateAccountOpen"
  (onClose)="isCreateAccountOpen = false"
>
</app-create-account>
