<div class="w-full border-t-[0.2px] border-gray-600 py-5">
  <div class="space-y-3">
    <div class="flex w-full items-center justify-around py-2">
      <div class="inline-flex items-center gap-2">
        <img
          class="h-7 object-cover"
          src="assets/logo/logo-64.png"
          alt="logo image"
        />
        <h2 class="text-xl font-bold tracking-wider">Titer</h2>
      </div>

      <div>
        <ul class="inline-flex gap-5">
          <li>
            <a class="cursor-pointer underline-offset-4 hover:underline"
              >Privacy Policy</a
            >
          </li>
          <li>
            <a class="cursor-pointer underline-offset-4 hover:underline"
              >Terms of Use</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div>
      <p class="text-center text-sm font-light tracking-wide text-gray-300">
        Made by
        <span
          class="cursor-pointer font-semibold text-white underline-offset-4 hover:underline"
          ><a href="https://github.com/lmello0" target="_blank">Lucas</a></span
        >
        - Copyright {{ currentYear }}
      </p>
    </div>
  </div>
</div>
